* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B946D8;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 420px;
    height: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;


}

header h1 {}

.info {
    color: darkgrey;
    margin: 10px 0;
}

.search {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.search input {
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: solid 1px #CEC5CD;
    outline: 0;

}

.search button {
    padding: 15px 10px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    background-color: #D0A2F7;
    margin-bottom: 15px;

}

.active {
    opacity: 1;
    pointer-events: auto;
}

button .active {}

.info-txt {
    color: black;
    display: none;

}